<button class="btn btn-secondary" data-toggle="modal" data-target="#cartModal"><i class="fa fa-shopping-cart" aria-hidden="true"></i> [ {{numProducts}} ]</button>

<div class="modal fade bd-example-modal-lg" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title-bd-example-modal-lg">Shopping Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
          <div class="product" *ngFor="let item of products">
              <div class="row" style="padding-left: 10px">
                <div class="col-8">
                  <p>{{item.quantity}} x {{item.product.name}}</p>
                </div>
                <div class="col-3">
                  <p>{{item.quantity*item.product.parsedPrice | currency:'INR':true:'1.0-0' }}</p>
                </div>
                <div class="col-1">
                    <button class="delete-btn" (click) ='deleteProduct(item.product)'><i class="fa fa-minus-square" aria-hidden="true"></i></button>
                  </div>
                </div>
            </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)='flushCart()'>Pay {{cartTotal | currency:'INR':true:'1.0-0'}} & Checkout</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

